<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        Hello World!
        <form method="POST" action="/person">
            First name: <input type="text" name="fname"><br>
            Last name: <input type="text" name="lname"><br>
            <input type="submit" value="submit">
        </form>

        <form method="POST" action="/comment">
            Comment: <input type="text" name="comment"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>